body{
    background-color: rgb(195, 195, 195);
}
.backpack_container{
    position: absolute;
    left: 35%;
    width : 22%;
    height: 40rem;
    background-color: #ff9999;
}
.im_child_backpack img {
    position: relative;
    width: 90%;
    left: 25px;
}

.img_preview_sec{
    background-color: white;
 margin: 6px 6px 2px 6px ;
}

.img_preview_sec > img {
    position: relative;
    width: 100px;
    height: 100px;
}

.backpack_info_sec{
    background-color: hwb(50deg 66% 29%);
    height: 10%;
    text-align: center;
    color: white;
    padding: 3px 0 0 0 ;
}

sup{
    font-size: 10px;
    margin-left: -2.5px;
}

.name_n_price{
    margin-top: 5px;
}

.backpack_price{
    background-color: blueviolet;
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
}
